<template>
  <header class="header">
    <div class="header_left">
      <a href="#">
        <img src="/logo.png" alt="">
      </a>
    </div>
    <div class="header_right">
      <div class="header_right__menu">
        <div class="header_right__menu__container">
          <ul>
            <li class="menu_item">
              <a href="#" class="menu_item_link" @click="handleClickTypeImage">
                <i class="icon-menu"></i>
              </a>
              <div class="menu_item_wrapper" :class="{'menu_item_wrapper_active': activeMenuTypeImage}">
                <ul>
                  <li v-for="category in categoriesType">
                    <a href="#" @click="updateImagesCategory(category)">{{ category }}</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import {defineEmits, onMounted, ref} from "vue";
import {listType} from "../../utils/api/Category";

  const emit = defineEmits(['setImages'])

  const activeMenuTypeImage = ref(false)
  const categoriesType = ref<string[]>([])

  const handleClickTypeImage = () => {
    activeMenuTypeImage.value = !activeMenuTypeImage.value
  }

  const updateImagesCategory = (category: string) => {
    emit('setImages', category)
    activeMenuTypeImage.value = false
  }

  onMounted(async () => {
    categoriesType.value = await listType()
  })
</script>

<style scoped>
  .header {
    padding: 0 25px 0 20px;
    background: #111314;
  }

  .header .header_left {
    padding: 20px 0 29px;
  }

  .header_left {
    float: left;
  }

  .header_right {
    float: right;
  }

  .header_right .header_right__menu {
    padding-top: 5px;
  }

  .header_right__menu .header_right__menu__container {
    display: inline-block;
  }

  .header_right__menu .header_right__menu__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header_right__menu .header_right__menu__container ul::after {
    content: "";
    position: absolute;
    top: -14px;
    right: 24px;
    border: solid 7px transparent;
    border-bottom: solid 7px #111314;
  }

  .header_right__menu .header_right__menu__container ul li {
    display: inline-block;
    position: relative;
  }

  .header_right__menu .header_right__menu__container ul li a {
    color: #fff;
    padding: 30px 15px 24px 0;
    display: block;
    font-size: 14px;
  }

  .header_right__menu .header_right__menu__container ul li .menu_item_wrapper {
    display: none;
    width: 232px;
    position: absolute;
    top: 71px;
    right: 13px;
    margin-right: -14px;
    z-index: 10000;
  }

  .header_right__menu .header_right__menu__container ul li .menu_item_wrapper.menu_item_wrapper_active {
    display: inline-block;
  }

  .header_right__menu .header_right__menu__container ul li .menu_item_wrapper ul {
    list-style: none;
    margin: 20px 0 0;
    border-radius: 4px;
    padding: 17px 24px 20px 0;
    position: relative;
    background: #111314;
  }

  .header_right__menu .header_right__menu__container ul li .menu_item_wrapper ul li {
    display: block;
    position: relative;
  }

  .header_right__menu .header_right__menu__container ul li .menu_item_wrapper ul li a {
    color: var(--color-grey);
    font-size: 14px;
    display: block;
    line-height: 40px;
    position: relative;
    padding: 0 0 0 32px;
  }

  .icon-menu {
    width: 27px;
    height: 22px;
    display: inline-block;
    background: url("/menu-icon.png") no-repeat center;
    top: 5px;
    position: relative;
    font-size: 21px;
  }

  .header_left img {
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
</style>