<template>
  <Header @setImages="setImages"/>
  <div class="v_overlay" :class="{'v_overlay__active': state.imageCurrent.length !== 0}"
       v-if="state.imageCurrent.length !== 0">
    <div class="v_overlay__scrim"></div>
    <div class="v_overlay__content">
      <div class="v_overlay__content_block" :class="{'d-none': state.imageCurrent.length === 0}"
           v-click-outside="outsideOverlay">
        <img :src="state.imageCurrent" alt="">
      </div>
    </div>
  </div>
  <div class="albums_images_wrapper albums_images_col_4">
    <Loader v-if="loader"/>
    <div class="albums_images" v-if="!loader">
      <AlbumItem v-for="image in state.images" :image="image" @showImageCurrent="showImageCurrent"/>
    </div>
  </div>
</template>

<script setup lang="ts">
import Header from "./layout/Header.vue";
import AlbumItem from "./album_item.vue";
import {onMounted, ref} from "vue";
import {post} from "../utils/api/Image";
import Loader from "./Loader.vue";

const state = ref<{
  images: string[],
  imageCurrent: string
}>({images: [], imageCurrent: ""})

const loader = ref(true)

onMounted(async () => {
  await setImages('smile')
})

const setImages = async (category: string) => {
  loader.value = true

  const responseWaifu = await post('sfw', category)

  if (responseWaifu.files && responseWaifu.files.length !== 0) {
    state.value.images = responseWaifu.files
    loader.value = false
  }
}

const showImageCurrent = (image: string) => {
  state.value.imageCurrent = image
}

const outsideOverlay = () => {
  if (state.value.imageCurrent.length !== 0) {
    state.value.imageCurrent = ""
  }
}
</script>

<style scoped>
.albums_images_wrapper {
  flex: 1 1 auto;
  max-width: 100%;
  padding: 105px 0 0;
}

.albums_images {
  position: relative;
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0;
  -moz-column-count: 5;
  -moz-column-gap: 0;
  column-count: 5;
  column-gap: 0;
}

.v_overlay {
  align-items: center;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.v_overlay__active {
  pointer-events: auto;
  z-index: 300;
}

.v_overlay__scrim {
  border-radius: inherit;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: inherit;
  width: 100%;
  will-change: opacity;
  opacity: 0.46;
  background-color: rgb(33, 33, 33);
  border-color: rgb(33, 33, 33);
}

.v_overlay__content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  outline: none;
  z-index: 300;
}

.v_overlay__content_block {
  max-width: 500px;
  max-height: 90%;
  transform-origin: center center;
  border-radius: 4px;
  margin: 24px;
  overflow-y: auto;
  pointer-events: auto;
  width: 100%;
  z-index: inherit;
}

.v_overlay__content_block img {
  max-width: calc(100vw - 2rem);
  width: 100%;
}
</style>