<template>
  <div class="albums_images_item" @click="clickOnImage(image)">
    <img :src="image" alt="">
  </div>
</template>

<script setup lang="ts">
import {defineProps} from "vue";

defineProps({
  image: String
})

const emit = defineEmits(['showImageCurrent']);

const clickOnImage = (image: string) => {
  emit('showImageCurrent', image)
}
</script>

<style scoped>
.albums_images_item img {
  width: 100% !important;
  height: auto !important;
}
</style>