<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import AlbumImages from "./components/album_images.vue";
</script>

<template>
  <AlbumImages/>
</template>

<style scoped>
</style>
