:root {
  --color-black: #000 !important;
  --color-grey: #b7c2c8 !important;
  --size: 12vmin;
  --loader_w: calc(var(--size) * 6);
  --loader_h: calc(var(--size) * 2.3);
  --bubble: calc(var(--size) * 1.5);
  --shine: calc(var(--size) / 5);
}

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

body {
  background: var(--color-black);
  color: var(--color-grey);
}

input:focus, textarea:focus, body {
  outline: none;
}

body, html {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  outline: none;
  transition: all .3s;
  -webkit-transition: all .3s;
}

img {
  height: auto;
  max-width: 100%;
}

ul, ol {
  padding: 0;
  list-style-position: inside;
  letter-spacing: .2px;
}

.d-none {
  display: none !important;
}